[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
inflection = "*"
seaborn = "*"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.8"
